---
import Tag from "./Tag.astro";

const {
  projectData: { name, description, tags, projectLink, sourceLink },
} = Astro.props;
---

<div>
  <div>
    <h3>{name}</h3>
    <p>{description}</p>
    <a href={projectLink} target="_blank">View Project</a>
    <a href={sourceLink} target="_blank">View Source</a>
    <div>
      {tags.map((tag: string) => <Tag tagText={tag} />)}
    </div>
  </div>
</div>

<style>
  div > div > div {
    display: flex;
    gap: var(--space-3xs);
  }
</style>
